@charset "UTF-8";

html {
    font-size: 100%;
}
body {
    font-family: 'Noto Sans JP', sans-serif;
}


/* Container */
.container {
    max-width: 1000px;
    margin: 0 auto;
}


/* HEADER */
header {
    margin: 1rem 0 5rem 0;
}


/* 共通 */
.form-group {
    padding: .5rem 0;
}
.form-group input {
    padding: .5rem;
    margin-left: 2rem;
    border: 1px solid gray;
    border-radius: 5px;
}


/* INPUTS */
.inputs {
    margin-bottom: 4rem;
}


/* BUTTON */
.button {
    margin-bottom: 4rem;
    padding: 1rem 3rem;
    color: #fff;
    background-color: #eb6100;
    border-radius: 5px;
}
.button:hover {
    background: #f56500;
}


/* OUTPUTS */
.outputs {
    margin-bottom: 2rem;
}